<nb-layout>
  <nb-layout-header>
    Vacunados
  </nb-layout-header>
  <nb-layout-column>
    <div class="d-flex justify-content-around align-items-center w-100 h-100">
      <button nbButton outline status="success" (click)="openNew()">Nuevo</button>
      <button nbButton outline status="success" (click)="openList()">Listado</button>
    </div>
    <ng-template #contentTemplate let-data>
      <form [formGroup]="form" (ngSubmit)="save()" class="w-100">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <input formControlName="name" class="form-control" type="text" placeholder="Nombre">
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end mt-3">
          <button nbButton outline type="submit" status="success">Guardar</button>
        </div>
      </form>
    </ng-template>

    <ng-template #contentTemplateList let-data>
      <table class="table table-dark">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of list">
            <td>{{user['id']}}</td>
            <td>{{user['name']}}</td>
            <td><nb-toggle status="primary" [checked]= 'user["vaccine"]' (checkedChange)="changeStatus(user)" ></nb-toggle></td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </nb-layout-column>
</nb-layout>